@import "tailwindcss";

@theme {
  --animate-bloom: bloom 5s forwards;
  --animate-show: show 3s forwards;

  @keyframes bloom {
    from {
      transform: scale(0) rotate(0deg);
      opacity: 0;
    }
    to {
      transform: scale(1) rotate(var(--rot));
      opacity: 1;
    }
  }

  @keyframes show {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

#screen {
  @apply w-screen h-screen absolute top-0 right-0 z-40;
}

#app {
  @apply w-screen h-screen bg-radial from-black to-gray-900;
}

#messages-div {
  @apply absolute top-36 left-1/2 text-2xl text-white;
}

#github {
  @apply w-10 h-10 fill-gray-500 absolute z-50 bottom-2 right-2 cursor-pointer;
}

.flower {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.center {
  @apply opacity-0 w-20 h-20 bg-radial from-yellow-200 to-yellow-600 rounded-full relative z-50;
}
.petal {
  @apply opacity-0 h-36 w-20 rounded-t-full absolute bottom-1/2 bg-linear-0 from-pink-800 to-pink-400;
  transform-origin: bottom center;
}
